# IDE
.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache

# Runtime
bin/
obj/
wwwroot/uploads/
node_modules/
dist/
build/

# Logs
*.log
*.tmp

# Secrets
.env
*.pfx
*.p12
*.key
*.crt
*.csr

# Misc
.DS_Store
Thumbs.db
*.pyc

# TempHashProject/

appsettings.json
project_structure.txt
TempHashProject/Program.cs
traverse.py
project_contents.txt
